.navbar_logo{
		display:block;
		height:40px;
}
.navbar{
		padding:0;
}

.leftSideBar,.rightSideBar{
		height:100vh;
}
.row { 
		margin: 0; padding: 0  
}

.add_department_section{
		position: fixed;
		right:30px;
		bottom:10px;
}
