.navbar_logo{
		display:block;
		height:40px;
}
.navbar{
		padding:0;
}

.row { 
		margin: 0; padding: 0  
}

.searchBar{
		margin:0;
		padding: 0 0 0 5px;
		display:block;
		border:none;
		border-bottom:1px solid green;
		border-radius: 0;
}
.searchBar:focus{
		border:none;
		box-shadow:0;
		outline:none !important;
}
